In [1]:
import pandas as pd

In [2]:
def fix_time(val):
    if ':' in val:
        parts = val.split(':')
        cor_time = ':'.join(parts[:2])
    else:
        cor_time = val
    return cor_time

In [15]:
original_filename = 'STAGES23'

In [16]:
a = pd.read_csv('/Users/ryand/Desktop/{}.CSV'.format(original_filename))

In [17]:
a['Stages_Data'] = a['Stages_Data'].apply(fix_time)

In [18]:
a.columns = ['Stages_Data', '', '', '', '','']

In [19]:
a

     Stages_Data
0        English    NaN    NaN    NaN  NaN  NaN
1           Time  Miles    MPH  Watts   HR  RPM
2           0:01      0   19.6    147   87   81
3           0:02   0.01  19.07    137   87   80
4           0:03   0.01  19.55    146   87   80
...          ...    ...    ...    ...  ...  ...
2532   Watts_Max    406    NaN    NaN  NaN  NaN
2533      HR_Max    163    NaN    NaN  NaN  NaN
2534     RPM_Max    106    NaN    NaN  NaN  NaN
2535        KCal    496    NaN    NaN  NaN  NaN
2536          KJ    422    NaN    NaN  NaN  NaN

[2537 rows x 6 columns]

In [20]:
a.to_csv('/Users/ryand/Desktop/{}_timefix.CSV'.format(original_filename), index=False)